{% extends 'layout.html'%}
{% block head %}
<title>تغییر رمز عبور</title>
<link rel="stylesheet"href="{{ url_for('static', filename='css/submit.css') }}" />
{% endblock head %}
{% block body %}
<div class="container">
  <form method="post" class="form">
    {{form.oldPassword(class_="input")}} {{form.password(class_="input")}}
    {{form.passwordConfirm(class_="input")}}
    <button type="submit" class="btn btnPrimary">رمز منو تغییر بده</button>
  </form>
</div>
{% endblock body %}
