{% extends 'layout.html'%}
{% block head %}
  <title>فراموشی رمز عبور</title>
  <link rel="stylesheet"href="{{ url_for('static', filename='css/submit.css') }}" />
{% endblock head %}
{% block body %}
  <div class="container">
    <form method="post" class="form">
      {% if mailSent %}
        {{form.code(autocomplete="off",class_="input")}}
        {{form.password(autocomplete="off",class_="input")}}
        {{form.passwordConfirm(autocomplete="off",class_="input")}}
        <button type="submit" class="btn btnPrimary">تغییر رمز عبور</button>
      {% else %}
        {{form.userName(class_="input",autocomplete="off")}}
        {{form.email(class_="input",autocomplete="off")}}
        <button type="submit" class="btn btnPrimary">ارسال کد</button>
      {% endif %}
    </form>
  </div>
{% endblock body %}
